

.appNav{
    margin:  2rem auto 1rem;
    width: 100%;
    a{
        
        text-decoration: none;
        color: orangered;
        margin: .5em;
    }

  
}
nav a:global(.active){
    background-color: #28282b;
    padding: .5em 1em;
    border-radius: 50px;
}