

.city{
    background-color: #28282b;
    padding: 2em;
    width: 90%;
    margin: 1em auto;
    border-radius: 10px;

    .row{
        margin: 1em 0;
        h3{
            margin: .5em 0;
        }
    }
}