


.countryList{
    display: grid;
    padding: 0 2em;
    grid-template-columns: .5fr .5fr;
    // grid-auto-rows: 50px auto;
    grid-template-rows: repeat(2, 4em);
    // justify-content: start;
    gap: 1em;

    li{
        background-color: #28282b;
        border-left: 4px solid orangered;
        display: grid;
        justify-content: center;
        align-items: center;
    }
}