

.user{
    background-color: #28282b;
    position: absolute;
    right: 5%;
    top: 10%;
    z-index: 99999;
    padding: 1em;
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.user img{
    height: 2rem;
  border-radius: 100px;

}
